@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  color: black;
  margin: 0;
  background-color: white;
}

.btn {
  border-radius: 7px;
  box-shadow: 5px 5px 15px -5px lightgrey;
  margin: auto;
}

.btn-pinkpurple {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  height: 50px;
  margin: auto;
  text-decoration: none;
  text-align: center;
  color: white;
  border-radius: 30px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  font-size: 0.9em;
  box-shadow: 5px 5px 15px -5px lightgrey;
}
.btn-pinkpurple:hover {
  background-image: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 5px 5px 15px -5px grey;
}

.btn-menus__style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 90%;
  height: 60px;
  margin-bottom: 15px;
  padding: 0 3%;
  box-sizing: border-box;
  overflow: hidden;
}
.btn-menus__style p {
  margin: 0;
}
.btn-menus__style:hover .prix {
  transform: translateX(-250%);
}
.btn-menus__style:hover .btn__check {
  transform: translateX(-100%);
}
.btn-menus__style:hover .btn__check > i {
  transform: rotate(1turn);
}
.btn-menus__style .prix {
  transition: transform 500ms;
}
.btn-menus__style .btn__check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: -17%;
  top: 0;
  bottom: 0;
  align-items: center;
  width: 17%;
  background-color: #99E2D0;
  border: none;
  color: white;
  transition: transform 500ms;
}
.btn-menus__style .btn__check > i {
  transform: rotate(0turn);
  transition: transform 500ms;
}

header {
  height: 60px;
}

header img {
  display: block;
  padding-top: 15px;
  margin: auto;
  height: 30px;
}

.header__pages-menus {
  position: relative;
}
.header__pages-menus i {
  position: absolute;
  left: 5%;
  top: 40%;
  font-size: 1.2em;
  text-decoration: none;
  color: #353535;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #353535;
  height: 160px;
  padding: 35px 10%;
}
footer > img {
  filter: invert(100%);
  width: 40%;
  padding-bottom: 20px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  position: relative;
  color: white;
  text-decoration: none;
}
.footer-links p {
  position: absolute;
  left: 10%;
}

.localisation {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #EAEAEA;
  font-size: 1.1em;
  justify-content: center;
  opacity: 0.8;
  height: 50px;
  box-shadow: 0 2px 5px grey inset;
}
.localisation p {
  padding-left: 15px;
}

.restaurant-explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #F7F7F7;
  height: 280px;
  padding: 10% 0;
  box-sizing: border-box;
}
.restaurant-explorer h1 {
  margin: 0;
}
.restaurant-explorer p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.1em;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
}
.fonctionnement h1 {
  margin-left: 5%;
}
.fonctionnement ul {
  padding: 0;
  margin: 0;
}
.fonctionnement ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  list-style-type: none;
  background-color: #F7F7F7;
  width: 90%;
  height: 65px;
  margin-bottom: 20px;
  margin-top: 20px;
  z-index: 1;
}
.fonctionnement ul li:hover i {
  color: #9356DC;
}
.fonctionnement ul li:hover::after {
  opacity: 1;
}
.fonctionnement ul li::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: #e4d5f6;
  z-index: -1;
}

.numerotation {
  position: absolute;
  left: -10px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
}

.fonctionnement i {
  margin-left: 10%;
  color: grey;
}
.fonctionnement p {
  margin-left: 8%;
}

.nav__page-accueil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F7F7F7;
  height: 1100px;
  padding: 30px 0;
}
.nav__page-accueil > h1 {
  margin-left: 5%;
}

.cartes__restaurants {
  position: relative;
  width: 90%;
  height: 230px;
  overflow: hidden;
  text-decoration: none;
  color: black;
}
.cartes__restaurants > img {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cartes__restaurants > h2 {
  font-size: 1.1em;
  margin: 7px 0 0 10px;
}
.cartes__restaurants > p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1em;
  margin: 7px 0 0 10px;
}
.cartes__restaurants > .btn__nouveau {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 5%;
  top: 5%;
  background-color: #99E2D0;
  color: #278870;
  height: 28px;
  width: 22%;
  text-align: center;
  font-size: 0.9em;
}
.cartes__restaurants > i {
  position: absolute;
  font-size: 1.4em;
  right: 10%;
  bottom: 13%;
}

.image__heading {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-entrees-plats-desserts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: -60px;
  margin-bottom: -60px;
  padding-bottom: 30px;
  background-color: #F7F7F7;
  border-radius: 30px 30px 0 0;
}
.menu-entrees-plats-desserts .section-menus__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}
.menu-entrees-plats-desserts h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.6em;
  margin-left: 5%;
}
.menu-entrees-plats-desserts i {
  font-size: 1.3em;
}
.menu-entrees-plats-desserts h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-left: 5%;
  font-size: 1em;
}

.entrees-plats-desserts__description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.description-et-prix {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9em;
}

.entrees, .plats, .desserts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.entrees h2 div, .plats h2 div, .desserts h2 div {
  height: 3px;
  width: 35px;
  margin-top: 3px;
  background-color: #99E2D0;
}/*# sourceMappingURL=styles.css.map */