footer {
    @include flexbox-column;
    background-color: $footer-bgcolor;
    height: 160px;
    padding: 35px 10%;
    > img {
        filter: invert(100%);
        width: 40%;
        padding-bottom: 20px;
    }
}

.footer-links {
    @include flexbox-row;
    padding: 8px 0;
    color: white;
    text-decoration: none;
    i {
        margin-right: 10px;
    }
}

/* Media queries : version desktop */
@media screen and (min-width: 768px) {
    footer {
        height: 80px;
        > img {
            width: 25%;
            margin: auto;
        }
    }
    
    .footer-links--disposition {
        @include flexbox-row;
        justify-content: space-between;
    }
}