footer {
    @include flexbox-column;
    background-color: $footer-bgcolor;
    height: 160px;
    padding: 35px 10%;
    > img {
        filter: invert(100%);
        width: 40%;
        padding-bottom: 20px;
    }
}

.footer-links {
    @include flexbox-row;
    padding: 8px 0;
    position: relative;
    color: white;
    text-decoration: none;
    p {
        position: absolute;
        left: 10%;
    }
}

/* Media queries : format desktop */
@media screen and (min-width: 768px) {
    footer {
        height: 80px;
        > img {
            width: 30%;
        }
    }
    
    .footer-links--disposition {
        @include flexbox-row;
    }

    .footer-links {
        margin-right: 25%;
        text-align: center;
        width: 20%;
        > p {
            left: 150%;
        }
    }
}