footer {
    @include flexbox-column;
    background-color: $footer-bgcolor;
    height: 160px;
    padding: 35px 10%;
    > img {
        filter: invert(100%);
        width: 40%;
        padding-bottom: 20px;
    }
}

.footer-links {
    @include flexbox-row;
    padding: 8px 0;
    position: relative;
    color: white;
    text-decoration: none;
    p {
        position: absolute;
        left: 10%;
    }
}