.btn {
    border-radius: 7px;
    box-shadow: 5px 5px 15px -5px lightgrey;
    margin: auto;
}

.btn-pinkpurple {
    @include flexbox-column;
    width: 55%;
    height: 50px;
    margin: auto;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    background-image: linear-gradient($color-secondary, $color-primary);
    font-size: 0.9em;
    box-shadow: 5px 5px 15px -5px lightgrey;
}

.btn-menus__style {
    @include flexbox-column;
    position: relative;
    width: 90%;
    height: 60px;
    margin-bottom: 15px;
    padding: 0 3%;
    box-sizing: border-box;
    overflow: hidden;
    p {
        margin: 0;
    }
    &:hover {
        .prix {
            transform: translateX(-55px);
        }
        .btn__check {
            transform: translateX(-58px);
            > i {
                transform: rotate(1turn);
            }
        }
    }

    .prix {
        transition: transform 500ms;
    }

    .btn__check {
        @include flexbox-column;
        position: absolute;
        right: -58px;
        top: 0;
        bottom: 0;
        align-items: center;
        width: 17%;
        background-color: $color-tertiary;
        border: none;
        color: white;
        transition: transform 500ms;
        > i {
                transform: rotate(0turn);
                transition: transform 500ms;
            }
    }

    
}

