body {
    font-family: 'Roboto', sans-serif;
    color:black;
    margin: 0;
    background-color: white;
    z-index: 1;
}

.loading-page {
    @include flexbox-column;
    align-items: center;
    background-color: white;
    animation: loading-page 4s;
    animation-fill-mode: forwards;
    inset: 0;
    position: fixed;
    &__bar {
        position: relative;
        width: 30%;
        height: 20px;
        border: 4px solid $bgcolor-secondary;
        border-radius: 30px;
        margin: auto;
        overflow: hidden;
        &--remplissage {
            position: absolute;
            animation: progress-bar 3s forwards;
            inset: 0;
            border-radius: 30px;
            background-image: linear-gradient($color-secondary, $color-primary);
        }
    }
}