.image__heading {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.menu-entrees-plats-desserts {
    @include flexbox-column;
    position: relative;
    top: -60px;
    margin-bottom: -60px;
    padding-bottom: 30px;
    background-color: $bgcolor-secondary;
    border-radius: 30px 30px 0 0;
    h1 {
        @include shrikhand-titles-font-style;
        @include h1-indentation;
    }
    i {
        font-size: 1.3em;
    }
    h2 {
        @include roboto-lightwght;
        margin-left: 5%;
        font-size: 1em;
    }
}

.entrees-plats-desserts__description {
    @include roboto-lightwght;
}

.description-et-prix {
    @include flexbox-row;
    justify-content: space-between;
    font-size: 0.9em;
}

.entrees, .plats, .desserts {
    @include flexbox-column;
    h2 div {
        height: 3px;
        width: 35px;
        margin-top: 3px;
        background-color: $color-tertiary;
    }
}

.entrees {
    animation: fadein 500ms;
}

.plats {
    animation: fadein 900ms;
}

.desserts {
    animation: fadein 1300ms;
}

/* Media queries : version desktop */
@media screen and (min-width: 768px) {
    .menus--disposition {
        @include flexbox-row;
        justify-content: space-around;
        align-items: baseline;
    }
    .entrees, .plats, .desserts {
        width: 27%;
    }
}